set timeout=0
set default=0

menuentry "LighthOS" {
    multiboot /boot/lighthos.bin

    module /boot/shell       /bin/init
    module /boot/shell       /bin/shell

    module /boot/hello       /bin/hello
    module /boot/echo        /bin/echo
    module /boot/cat         /bin/cat
    module /boot/wc          /bin/wc
    module /boot/head        /bin/head
    module /boot/tail        /bin/tail
    module /boot/grep        /bin/grep
    module /boot/cp          /bin/cp
    module /boot/mv          /bin/mv
    module /boot/touch       /bin/touch
    module /boot/ls          /bin/ls
    module /boot/sleep       /bin/sleep
    module /boot/mkdir       /bin/mkdir
    module /boot/mount       /bin/mount
    module /boot/umount      /bin/umount
    module /boot/chroot      /bin/chroot
    module /boot/env         /bin/env
    module /boot/strace      /bin/strace
    module /boot/lua         /bin/lua
    module /boot/mmaptest    /bin/mmaptest
    module /boot/sigtest     /bin/sigtest
    module /boot/alarmtest   /bin/alarmtest
    module /boot/dynhello    /bin/dynhello
    module /boot/dyn_echo    /bin/dyn_echo
    module /boot/dlopentest  /bin/dlopentest

    module /boot/lib/ld-lighthos.so.1  /lib/ld-lighthos.so.1
    module /boot/lib/libulib.so.1      /lib/libulib.so.1
    module /boot/lib/libvibc.so.1      /lib/libvibc.so.1
    module /boot/lib/libtestdl.so.1    /lib/libtestdl.so.1

    boot
}
