set timeout=0
set default=0

menuentry "VibeOS" {
    multiboot /boot/vibeos.bin
    module /boot/etc/fstab etc/fstab
    module /boot/hello hello
    module /boot/shell shell
    module /boot/vi vi
    module /boot/bomb bomb
    module /boot/fork_test fork_test
    module /boot/free free
    module /boot/regions regions
    module /boot/pagemap pagemap
    module /boot/hexdump hexdump
    module /boot/libc_test libc_test
    module /boot/lua lua
    module /boot/install install
    module /boot/lsblk lsblk
    module /boot/test_badptr test_badptr
    module /boot/cat cat
    module /boot/echo echo
    module /boot/cp cp
    module /boot/mv mv
    module /boot/touch touch
    module /boot/head head
    module /boot/tail tail
    module /boot/wc wc
    module /boot/grep grep
    module /boot/find find
    module /boot/assert assert
    module /boot/runtests runtests
    module /boot/chroot chroot
    module /boot/ls ls
    boot
}
